{% extends 'officer/officer_base.html' %}
{% load static %}
{% block content %}
 {% if message %}
         <script> alert("{{ message }}")</script>
     {% endif %}

<div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/police1.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>

<br><br><br><br><br><br><br><br>&nbsp
    <section class="ftco-counter" id="section-counter">
        <div class="container-fluid">
       <style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
}
</style>
</head>
<body>


<h2 ALIGN="center" style="color: white">Block chain ledger</h2>

<table id="customers">
  <tr>
      <th></th>
    <th>INFOMER NAME</th>
      <th>REPORTING TIME</th>
      <th>REMARK</th>
      <th>status</th>
      <th>BLOCK CHAIN COUNT</th>
      <th>BLOCk CHAIN ENTRY COUNT</th>


      <th></th>

  </tr>
{% for encript in encript %}
  <tr>
      <td></td>
    <td style="color: black;height:200px">{{ encript.user_name}}</td>
          <td style="color: black;height:200px">{{ encript.datetime}}</td>
    <td style="color: black;height:200px;width:500px">{{ encript.Remark}}</td>
    <td style="color: black;height:200px">{{ encript.status}}</td>
       <td style="color: black;height:200px">{{ encript.blockchain_count}}</td>
       <td style="color: black;height:200px">{{ encript.blockchain_entry_count}}</td>









      <td></td>

  </tr>
    {% endfor %}

</table>

    </section>
        </div>
</div>

{% endblock %}